.about .l{
    background: #f7484e;
}

.about .r{
    background:white;
}

.about .r .heading{
    font-size: 1.5em;
}

.education i{
    float: left;
}

.skills{
    display: flex;
    align-items: center;
}
.skills .colored{
    color:#f7484e;
}

.about a:hover{
    padding-bottom: 2;
    text-decoration: none;
    border-bottom: 2px solid white;
}

/* MOBILE ONLY */
@media only screen and (max-width: 834px) {
    .about .r{
        padding:50;
    }
}

/* PC ONLY */
@media only screen and (min-width: 835px) {
    .about .r{
        padding:100;
    }
}