@font-face {
    font-family: 'Proxima Nova Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Bold'), url('../fonts/ProximaNova-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Semibold'), url('../fonts/ProximaNova-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Regular'), url('../fonts/ProximaNova-Regular.woff') format('woff');
}

body{
    background: #2d2d2d;
    scroll-snap-type: y mandatory;
}

.bold{
    font-family:'Proxima Nova Bold';
    font-weight:normal;
}

.semi{
    font-family: 'Proxima Nova Semibold';
    font-weight: normal;
}

.regular{
    font-family: 'Proxima Nova Regular';
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.containers .l{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.containers .l img{
    width:255px;
    height:114.5px;
}

/* MOBILE ONLY */
@media only screen and (max-width: 834px) {
    .containers .l{
        height:100vh;
    }
}

/* PC ONLY */
@media only screen and (min-width: 835px) {
    .containers{
        height:100vh;
        width: 100vw;
        scroll-snap-align: start;
    }

    .container{
        height:100%;
        width:50%;
        float: left;
    }

    .containers .r{
        overflow-y: scroll;
    }
}

